/* width */
/* padding */
/* margin */
/* position left right top bottom */
/* border-radius */
/* width */
/* padding */
/* margin */
/* position left right top bottom */
/* border-radius */
.text-primary {
  color: #4e89ff !important; }

.text-secondary {
  color: #999; }

.text-success {
  color: #52c41a; }

.text-warning {
  color: #faad14; }

.text-danger {
  color: #ff4d4f; }

.text-black-primary {
  color: #333; }

.text-placeholder {
  color: #999999; }

.text-info {
  color: #b7b7b7; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-regular {
  color: #666; }

.text-light {
  color: #dddddd; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.vertical-middle {
  vertical-align: middle; }

.vertical-bottom {
  vertical-align: bottom; }

.fwb {
  font-weight: bold; }

.text-nowrap {
  white-space: nowrap; }

.word-break {
  word-break: break-all;
  word-wrap: break-word; }

.title-ellipsis-row2 {
  word-break: break-all;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.fz0 {
  font-size: 0px !important; }

.fz12 {
  font-size: 12px !important; }

.fz14 {
  font-size: 14px !important; }

.fz16 {
  font-size: 16px !important; }

.fz18 {
  font-size: 18px !important; }

.fz20 {
  font-size: 20px !important; }

.fz22 {
  font-size: 22px !important; }

.fz24 {
  font-size: 24px !important; }

.fz26 {
  font-size: 26px !important; }

.fz28 {
  font-size: 28px !important; }

.fz30 {
  font-size: 30px !important; }

.fz32 {
  font-size: 32px !important; }

.fz34 {
  font-size: 34px !important; }

.fz36 {
  font-size: 36px !important; }

.fz40 {
  font-size: 40px !important; }

.fz42 {
  font-size: 42px !important; }

.fz48 {
  font-size: 48px !important; }

.fz60 {
  font-size: 60px !important; }

.fz68 {
  font-size: 68px !important; }

.fz72 {
  font-size: 72px !important; }

.iz18 {
  font-size: 18px !important; }

.iz22 {
  font-size: 22px !important; }

.iz28 {
  font-size: 28px !important; }

.iz30 {
  font-size: 30px !important; }

.iz48 {
  font-size: 48px !important; }

.iz50 {
  font-size: 50px !important; }

.iz54 {
  font-size: 54px !important; }

.iz60 {
  font-size: 60px !important; }

.iz70 {
  font-size: 70px !important; }

.iz80 {
  font-size: 80px !important; }

.iz146 {
  font-size: 146px !important; }

.lh11 {
  line-height: 11px !important; }

.lh15 {
  line-height: 15px !important; }

.lh18 {
  line-height: 18px !important; }

.lh20 {
  line-height: 20px !important; }

.lh22 {
  line-height: 22px !important; }

.lh23 {
  line-height: 23px !important; }

.lh24 {
  line-height: 24px !important; }

.lh25 {
  line-height: 25px !important; }

.lh26 {
  line-height: 26px !important; }

.lh28 {
  line-height: 28px !important; }

.lh30 {
  line-height: 30px !important; }

.lh32 {
  line-height: 32px !important; }

.lh34 {
  line-height: 34px !important; }

.lh35 {
  line-height: 35px !important; }

.lh36 {
  line-height: 36px !important; }

.lh38 {
  line-height: 38px !important; }

.lh40 {
  line-height: 40px !important; }

.lh42 {
  line-height: 42px !important; }

.lh45 {
  line-height: 45px !important; }

.lh48 {
  line-height: 48px !important; }

.lh50 {
  line-height: 50px !important; }

.lh52 {
  line-height: 52px !important; }

.lh55 {
  line-height: 55px !important; }

.lh60 {
  line-height: 60px !important; }

.lh64 {
  line-height: 64px !important; }

.lh68 {
  line-height: 68px !important; }

.lh70 {
  line-height: 70px !important; }

.lh80 {
  line-height: 80px !important; }

.lh90 {
  line-height: 90px !important; }

.lh150 {
  line-height: 150px !important; }

.lh-1 {
  line-height: 1 !important; }

.lh-2 {
  line-height: 2 !important; }

.cursor-pointer {
  cursor: pointer; }

.cursor-auto {
  cursor: auto; }

.cursor-move {
  cursor: move; }

.cursor-drag {
  cursor: pointer;
  color: #002340;
  transition: color 0.3s ease;
  font-size: 18px;
  margin-right: 5px; }
  .cursor-drag:hover {
    color: #40a9ff; }

.app-card-lv1 {
  display: block;
  padding: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #555555;
  background-color: #f6f6f6; }
  .app-card-lv1:not(:last-of-type) {
    margin-bottom: 20px; }
  .app-card-lv1:first-child {
    margin-top: 0; }
  .app-card-lv1 > h6:first-child {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px; }

.app-card-lv2 {
  display: block;
  padding: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  color: #555555;
  border: 1px solid #dddddd; }
  .app-card-lv2:not(:last-of-type) {
    margin-bottom: 20px; }
  .app-card-lv2:first-child {
    margin-top: 0; }
  .app-card-lv2 > h6:first-child {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dddddd;
    margin-bottom: 10px; }

h6.app-title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea; }
  h6.app-title span {
    position: absolute;
    right: 20px;
    font-size: 14px;
    font-weight: normal; }

/* scrollbar */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border: 1px solid #fff; }

*::-webkit-scrollbar-thumb {
  background-color: #40a9ff;
  border: 1px solid #40a9ff;
  border-radius: 10px; }

.img-cover {
  object-fit: cover; }

.img-contain {
  object-fit: contain; }

.img-percent {
  width: 100%; }

.dib {
  display: inline-block !important; }

.db {
  display: block; }

.dn {
  display: none; }

.df {
  display: flex !important; }

.dif {
  display: inline-flex !important; }

.df-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.justify-center {
  justify-content: center; }

.justify-end {
  justify-content: flex-end; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.flex-column {
  flex-direction: column; }

.align-start {
  align-items: flex-start !important; }

.align-center {
  align-items: center; }

.align-end {
  align-items: flex-end; }

.align-stretch {
  align-items: stretch; }

.align-self-stretch {
  align-self: stretch; }

.align-self-end {
  align-self: flex-end; }

.align-self-start {
  align-self: flex-start; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-nowrap {
  flex-wrap: nowrap; }

.grow-0 {
  flex-grow: 0 !important; }

.grow-1 {
  flex-grow: 1 !important; }

.grow-2 {
  flex-grow: 2 !important; }

.shrink-0 {
  flex-shrink: 0 !important; }

.shrink-1 {
  flex-shrink: 1 !important; }

.fx1 {
  flex: 1 !important; }

.fx2 {
  flex: 2 !important; }

.fx3 {
  flex: 3 !important; }

.bgc-mask {
  background-color: rgba(0, 0, 0, 0.45); }

.bgc-w {
  background-color: #fff; }

.bgc-primary {
  background-color: #4e89ff; }

.bgc-success {
  background-color: #52c41a; }

.bgc-warning {
  background-color: #faad14; }

.bgc-danger {
  background-color: #ff4d4f; }

.bgc-base {
  background-color: #f6f6f6; }

.bg-none {
  background: none !important; }

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.bg-clip-content {
  background-clip: content-box; }

.bg-origin-content {
  background-origin: content-box; }

.bgc-none {
  background-color: none !important; }

.bgc-secondary3 {
  background-color: #ffb193; }

.bgc-light {
  background-color: #f0f1f1; }

.bgc-lighter {
  background-color: #ddd; }

.bgc-black {
  background-color: #000; }

.bgc-white {
  background-color: #fff !important; }

.border-none {
  border: 0 !important; }

.border-rule {
  border: 1px solid #4e89ff !important; }

.border-warning {
  border: 1px solid #faad14 !important; }

.border-danger {
  border: 1px solid #ff4d4f !important; }

.border-regular {
  border: 1px solid #666 !important; }

.border-base {
  border: 1px solid #eaeaea !important; }

.border-base-dashed {
  border: 1px dashed #eaeaea !important; }

.border-light {
  border: 1px solid #dddddd !important; }

.border-bottom {
  border-bottom: 1px solid #eaeaea !important; }

.border-bottom-light {
  border-bottom: 1px solid #dddddd; }

.border-bottom-light-not-last:not(:last-child) {
  border-bottom: 1px solid #dddddd; }

.border-bottom-base-not-last:not(:last-child) {
  border-bottom: 1px solid #eaeaea; }

.border-top {
  border-top: 1px solid #eaeaea !important; }

.border-left {
  border-left: 1px solid #eaeaea !important; }

.border-right {
  border-right: 1px solid #eaeaea !important; }

.border-shadow {
  box-shadow: 0 0 10px 0 rgba(142, 142, 142, 0.1); }

.rotateY-180 {
  transform-style: preserve-3d;
  transform: perspective(800px) rotateY(180deg); }

.por {
  position: relative; }

.poa {
  position: absolute; }

.poa-center {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }

.pof {
  position: fixed; }

.ofh {
  overflow: hidden; }

.ofs {
  overflow: scroll; }

.ofs-y {
  overflow-y: scroll; }

.ofa {
  overflow: auto; }

.z-index--1 {
  z-index: -1 !important; }

.z-index-10 {
  z-index: 10 !important; }

.z-index-20 {
  z-index: 20 !important; }

.z-index-30 {
  z-index: 30 !important; }

.z-index-40 {
  z-index: 40 !important; }

.z-index-50 {
  z-index: 50 !important; }

.z-index-100 {
  z-index: 100 !important; }

.z-index-200 {
  z-index: 200 !important; }

.z-index-1000 {
  z-index: 1000 !important; }

.top-25 {
  top: -25px !important; }

.top-20 {
  top: -20px !important; }

.top-15 {
  top: -15px !important; }

.top-10 {
  top: -10px !important; }

.top-5 {
  top: -5px !important; }

.top0 {
  top: 0px !important; }

.top5 {
  top: 5px !important; }

.top10 {
  top: 10px !important; }

.top15 {
  top: 15px !important; }

.top20 {
  top: 20px !important; }

.top25 {
  top: 25px !important; }

.top70 {
  top: 70px !important; }

.bottom-25 {
  bottom: -25px !important; }

.bottom-20 {
  bottom: -20px !important; }

.bottom-15 {
  bottom: -15px !important; }

.bottom-10 {
  bottom: -10px !important; }

.bottom-5 {
  bottom: -5px !important; }

.bottom0 {
  bottom: 0px !important; }

.bottom5 {
  bottom: 5px !important; }

.bottom10 {
  bottom: 10px !important; }

.bottom15 {
  bottom: 15px !important; }

.bottom20 {
  bottom: 20px !important; }

.bottom25 {
  bottom: 25px !important; }

.left-25 {
  left: -25px !important; }

.left-20 {
  left: -20px !important; }

.left-15 {
  left: -15px !important; }

.left-10 {
  left: -10px !important; }

.left-5 {
  left: -5px !important; }

.left0 {
  left: 0px !important; }

.left5 {
  left: 5px !important; }

.left10 {
  left: 10px !important; }

.left15 {
  left: 15px !important; }

.left20 {
  left: 20px !important; }

.left25 {
  left: 25px !important; }

.right-30 {
  right: -30px !important; }

.right-25 {
  right: -25px !important; }

.right-20 {
  right: -20px !important; }

.right-15 {
  right: -15px !important; }

.right-10 {
  right: -10px !important; }

.right-5 {
  right: -5px !important; }

.right0 {
  right: 0px !important; }

.right5 {
  right: 5px !important; }

.right10 {
  right: 10px !important; }

.right15 {
  right: 15px !important; }

.right20 {
  right: 20px !important; }

.right25 {
  right: 25px !important; }

.right34 {
  right: 34px !important; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.bdr50p {
  border-radius: 50%; }

.bdr0 {
  border-radius: 0px !important; }

.bdr-tl0 {
  border-top-left-radius: 0px !important; }

.bdr-tr0 {
  border-top-right-radius: 0px !important; }

.bdr-bl0 {
  border-bottom-left-radius: 0px !important; }

.bdr-br0 {
  border-bottom-right-radius: 0px !important; }

.bdr1 {
  border-radius: 1px !important; }

.bdr-tl1 {
  border-top-left-radius: 1px !important; }

.bdr-tr1 {
  border-top-right-radius: 1px !important; }

.bdr-bl1 {
  border-bottom-left-radius: 1px !important; }

.bdr-br1 {
  border-bottom-right-radius: 1px !important; }

.bdr2 {
  border-radius: 2px !important; }

.bdr-tl2 {
  border-top-left-radius: 2px !important; }

.bdr-tr2 {
  border-top-right-radius: 2px !important; }

.bdr-bl2 {
  border-bottom-left-radius: 2px !important; }

.bdr-br2 {
  border-bottom-right-radius: 2px !important; }

.bdr3 {
  border-radius: 3px !important; }

.bdr-tl3 {
  border-top-left-radius: 3px !important; }

.bdr-tr3 {
  border-top-right-radius: 3px !important; }

.bdr-bl3 {
  border-bottom-left-radius: 3px !important; }

.bdr-br3 {
  border-bottom-right-radius: 3px !important; }

.bdr4 {
  border-radius: 4px !important; }

.bdr-tl4 {
  border-top-left-radius: 4px !important; }

.bdr-tr4 {
  border-top-right-radius: 4px !important; }

.bdr-bl4 {
  border-bottom-left-radius: 4px !important; }

.bdr-br4 {
  border-bottom-right-radius: 4px !important; }

.bdr5 {
  border-radius: 5px !important; }

.bdr-tl5 {
  border-top-left-radius: 5px !important; }

.bdr-tr5 {
  border-top-right-radius: 5px !important; }

.bdr-bl5 {
  border-bottom-left-radius: 5px !important; }

.bdr-br5 {
  border-bottom-right-radius: 5px !important; }

.bdr6 {
  border-radius: 6px !important; }

.bdr-tl6 {
  border-top-left-radius: 6px !important; }

.bdr-tr6 {
  border-top-right-radius: 6px !important; }

.bdr-bl6 {
  border-bottom-left-radius: 6px !important; }

.bdr-br6 {
  border-bottom-right-radius: 6px !important; }

.bdr10 {
  border-radius: 10px !important; }

.bdr-tl10 {
  border-top-left-radius: 10px !important; }

.bdr-tr10 {
  border-top-right-radius: 10px !important; }

.bdr-bl10 {
  border-bottom-left-radius: 10px !important; }

.bdr-br10 {
  border-bottom-right-radius: 10px !important; }

.bdr20 {
  border-radius: 20px !important; }

.bdr-tl20 {
  border-top-left-radius: 20px !important; }

.bdr-tr20 {
  border-top-right-radius: 20px !important; }

.bdr-bl20 {
  border-bottom-left-radius: 20px !important; }

.bdr-br20 {
  border-bottom-right-radius: 20px !important; }

.bdr24 {
  border-radius: 24px !important; }

.bdr-tl24 {
  border-top-left-radius: 24px !important; }

.bdr-tr24 {
  border-top-right-radius: 24px !important; }

.bdr-bl24 {
  border-bottom-left-radius: 24px !important; }

.bdr-br24 {
  border-bottom-right-radius: 24px !important; }

.bdr50 {
  border-radius: 50px !important; }

.bdr-tl50 {
  border-top-left-radius: 50px !important; }

.bdr-tr50 {
  border-top-right-radius: 50px !important; }

.bdr-bl50 {
  border-bottom-left-radius: 50px !important; }

.bdr-br50 {
  border-bottom-right-radius: 50px !important; }

.bdr60 {
  border-radius: 60px !important; }

.bdr-tl60 {
  border-top-left-radius: 60px !important; }

.bdr-tr60 {
  border-top-right-radius: 60px !important; }

.bdr-bl60 {
  border-bottom-left-radius: 60px !important; }

.bdr-br60 {
  border-bottom-right-radius: 60px !important; }

.w0 {
  width: 0px !important; }

.max-w0 {
  max-width: 0px !important; }

.min-w0 {
  min-width: 0px !important; }

.w12 {
  width: 12px !important; }

.max-w12 {
  max-width: 12px !important; }

.min-w12 {
  min-width: 12px !important; }

.w14 {
  width: 14px !important; }

.max-w14 {
  max-width: 14px !important; }

.min-w14 {
  min-width: 14px !important; }

.w5 {
  width: 5px !important; }

.max-w5 {
  max-width: 5px !important; }

.min-w5 {
  min-width: 5px !important; }

.w8 {
  width: 8px !important; }

.max-w8 {
  max-width: 8px !important; }

.min-w8 {
  min-width: 8px !important; }

.w10 {
  width: 10px !important; }

.max-w10 {
  max-width: 10px !important; }

.min-w10 {
  min-width: 10px !important; }

.w15 {
  width: 15px !important; }

.max-w15 {
  max-width: 15px !important; }

.min-w15 {
  min-width: 15px !important; }

.w16 {
  width: 16px !important; }

.max-w16 {
  max-width: 16px !important; }

.min-w16 {
  min-width: 16px !important; }

.w20 {
  width: 20px !important; }

.max-w20 {
  max-width: 20px !important; }

.min-w20 {
  min-width: 20px !important; }

.w22 {
  width: 22px !important; }

.max-w22 {
  max-width: 22px !important; }

.min-w22 {
  min-width: 22px !important; }

.w24 {
  width: 24px !important; }

.max-w24 {
  max-width: 24px !important; }

.min-w24 {
  min-width: 24px !important; }

.w25 {
  width: 25px !important; }

.max-w25 {
  max-width: 25px !important; }

.min-w25 {
  min-width: 25px !important; }

.w26 {
  width: 26px !important; }

.max-w26 {
  max-width: 26px !important; }

.min-w26 {
  min-width: 26px !important; }

.w28 {
  width: 28px !important; }

.max-w28 {
  max-width: 28px !important; }

.min-w28 {
  min-width: 28px !important; }

.w30 {
  width: 30px !important; }

.max-w30 {
  max-width: 30px !important; }

.min-w30 {
  min-width: 30px !important; }

.w32 {
  width: 32px !important; }

.max-w32 {
  max-width: 32px !important; }

.min-w32 {
  min-width: 32px !important; }

.w34 {
  width: 34px !important; }

.max-w34 {
  max-width: 34px !important; }

.min-w34 {
  min-width: 34px !important; }

.w35 {
  width: 35px !important; }

.max-w35 {
  max-width: 35px !important; }

.min-w35 {
  min-width: 35px !important; }

.w40 {
  width: 40px !important; }

.max-w40 {
  max-width: 40px !important; }

.min-w40 {
  min-width: 40px !important; }

.w45 {
  width: 45px !important; }

.max-w45 {
  max-width: 45px !important; }

.min-w45 {
  min-width: 45px !important; }

.w50 {
  width: 50px !important; }

.max-w50 {
  max-width: 50px !important; }

.min-w50 {
  min-width: 50px !important; }

.w54 {
  width: 54px !important; }

.max-w54 {
  max-width: 54px !important; }

.min-w54 {
  min-width: 54px !important; }

.w55 {
  width: 55px !important; }

.max-w55 {
  max-width: 55px !important; }

.min-w55 {
  min-width: 55px !important; }

.w60 {
  width: 60px !important; }

.max-w60 {
  max-width: 60px !important; }

.min-w60 {
  min-width: 60px !important; }

.w65 {
  width: 65px !important; }

.max-w65 {
  max-width: 65px !important; }

.min-w65 {
  min-width: 65px !important; }

.w70 {
  width: 70px !important; }

.max-w70 {
  max-width: 70px !important; }

.min-w70 {
  min-width: 70px !important; }

.w72 {
  width: 72px !important; }

.max-w72 {
  max-width: 72px !important; }

.min-w72 {
  min-width: 72px !important; }

.w75 {
  width: 75px !important; }

.max-w75 {
  max-width: 75px !important; }

.min-w75 {
  min-width: 75px !important; }

.w80 {
  width: 80px !important; }

.max-w80 {
  max-width: 80px !important; }

.min-w80 {
  min-width: 80px !important; }

.w88 {
  width: 88px !important; }

.max-w88 {
  max-width: 88px !important; }

.min-w88 {
  min-width: 88px !important; }

.w90 {
  width: 90px !important; }

.max-w90 {
  max-width: 90px !important; }

.min-w90 {
  min-width: 90px !important; }

.w100 {
  width: 100px !important; }

.max-w100 {
  max-width: 100px !important; }

.min-w100 {
  min-width: 100px !important; }

.w105 {
  width: 105px !important; }

.max-w105 {
  max-width: 105px !important; }

.min-w105 {
  min-width: 105px !important; }

.w110 {
  width: 110px !important; }

.max-w110 {
  max-width: 110px !important; }

.min-w110 {
  min-width: 110px !important; }

.w115 {
  width: 115px !important; }

.max-w115 {
  max-width: 115px !important; }

.min-w115 {
  min-width: 115px !important; }

.w120 {
  width: 120px !important; }

.max-w120 {
  max-width: 120px !important; }

.min-w120 {
  min-width: 120px !important; }

.w125 {
  width: 125px !important; }

.max-w125 {
  max-width: 125px !important; }

.min-w125 {
  min-width: 125px !important; }

.w130 {
  width: 130px !important; }

.max-w130 {
  max-width: 130px !important; }

.min-w130 {
  min-width: 130px !important; }

.w135 {
  width: 135px !important; }

.max-w135 {
  max-width: 135px !important; }

.min-w135 {
  min-width: 135px !important; }

.w140 {
  width: 140px !important; }

.max-w140 {
  max-width: 140px !important; }

.min-w140 {
  min-width: 140px !important; }

.w146 {
  width: 146px !important; }

.max-w146 {
  max-width: 146px !important; }

.min-w146 {
  min-width: 146px !important; }

.w150 {
  width: 150px !important; }

.max-w150 {
  max-width: 150px !important; }

.min-w150 {
  min-width: 150px !important; }

.w152 {
  width: 152px !important; }

.max-w152 {
  max-width: 152px !important; }

.min-w152 {
  min-width: 152px !important; }

.w154 {
  width: 154px !important; }

.max-w154 {
  max-width: 154px !important; }

.min-w154 {
  min-width: 154px !important; }

.w160 {
  width: 160px !important; }

.max-w160 {
  max-width: 160px !important; }

.min-w160 {
  min-width: 160px !important; }

.w164 {
  width: 164px !important; }

.max-w164 {
  max-width: 164px !important; }

.min-w164 {
  min-width: 164px !important; }

.w166 {
  width: 166px !important; }

.max-w166 {
  max-width: 166px !important; }

.min-w166 {
  min-width: 166px !important; }

.w170 {
  width: 170px !important; }

.max-w170 {
  max-width: 170px !important; }

.min-w170 {
  min-width: 170px !important; }

.w180 {
  width: 180px !important; }

.max-w180 {
  max-width: 180px !important; }

.min-w180 {
  min-width: 180px !important; }

.w190 {
  width: 190px !important; }

.max-w190 {
  max-width: 190px !important; }

.min-w190 {
  min-width: 190px !important; }

.w195 {
  width: 195px !important; }

.max-w195 {
  max-width: 195px !important; }

.min-w195 {
  min-width: 195px !important; }

.w200 {
  width: 200px !important; }

.max-w200 {
  max-width: 200px !important; }

.min-w200 {
  min-width: 200px !important; }

.w210 {
  width: 210px !important; }

.max-w210 {
  max-width: 210px !important; }

.min-w210 {
  min-width: 210px !important; }

.w218 {
  width: 218px !important; }

.max-w218 {
  max-width: 218px !important; }

.min-w218 {
  min-width: 218px !important; }

.w220 {
  width: 220px !important; }

.max-w220 {
  max-width: 220px !important; }

.min-w220 {
  min-width: 220px !important; }

.w230 {
  width: 230px !important; }

.max-w230 {
  max-width: 230px !important; }

.min-w230 {
  min-width: 230px !important; }

.w250 {
  width: 250px !important; }

.max-w250 {
  max-width: 250px !important; }

.min-w250 {
  min-width: 250px !important; }

.w258 {
  width: 258px !important; }

.max-w258 {
  max-width: 258px !important; }

.min-w258 {
  min-width: 258px !important; }

.w260 {
  width: 260px !important; }

.max-w260 {
  max-width: 260px !important; }

.min-w260 {
  min-width: 260px !important; }

.w265 {
  width: 265px !important; }

.max-w265 {
  max-width: 265px !important; }

.min-w265 {
  min-width: 265px !important; }

.w270 {
  width: 270px !important; }

.max-w270 {
  max-width: 270px !important; }

.min-w270 {
  min-width: 270px !important; }

.w285 {
  width: 285px !important; }

.max-w285 {
  max-width: 285px !important; }

.min-w285 {
  min-width: 285px !important; }

.w290 {
  width: 290px !important; }

.max-w290 {
  max-width: 290px !important; }

.min-w290 {
  min-width: 290px !important; }

.w300 {
  width: 300px !important; }

.max-w300 {
  max-width: 300px !important; }

.min-w300 {
  min-width: 300px !important; }

.w310 {
  width: 310px !important; }

.max-w310 {
  max-width: 310px !important; }

.min-w310 {
  min-width: 310px !important; }

.w320 {
  width: 320px !important; }

.max-w320 {
  max-width: 320px !important; }

.min-w320 {
  min-width: 320px !important; }

.w330 {
  width: 330px !important; }

.max-w330 {
  max-width: 330px !important; }

.min-w330 {
  min-width: 330px !important; }

.w340 {
  width: 340px !important; }

.max-w340 {
  max-width: 340px !important; }

.min-w340 {
  min-width: 340px !important; }

.w350 {
  width: 350px !important; }

.max-w350 {
  max-width: 350px !important; }

.min-w350 {
  min-width: 350px !important; }

.w354 {
  width: 354px !important; }

.max-w354 {
  max-width: 354px !important; }

.min-w354 {
  min-width: 354px !important; }

.w360 {
  width: 360px !important; }

.max-w360 {
  max-width: 360px !important; }

.min-w360 {
  min-width: 360px !important; }

.w370 {
  width: 370px !important; }

.max-w370 {
  max-width: 370px !important; }

.min-w370 {
  min-width: 370px !important; }

.w375 {
  width: 375px !important; }

.max-w375 {
  max-width: 375px !important; }

.min-w375 {
  min-width: 375px !important; }

.w380 {
  width: 380px !important; }

.max-w380 {
  max-width: 380px !important; }

.min-w380 {
  min-width: 380px !important; }

.w400 {
  width: 400px !important; }

.max-w400 {
  max-width: 400px !important; }

.min-w400 {
  min-width: 400px !important; }

.w414 {
  width: 414px !important; }

.max-w414 {
  max-width: 414px !important; }

.min-w414 {
  min-width: 414px !important; }

.w420 {
  width: 420px !important; }

.max-w420 {
  max-width: 420px !important; }

.min-w420 {
  min-width: 420px !important; }

.w430 {
  width: 430px !important; }

.max-w430 {
  max-width: 430px !important; }

.min-w430 {
  min-width: 430px !important; }

.w500 {
  width: 500px !important; }

.max-w500 {
  max-width: 500px !important; }

.min-w500 {
  min-width: 500px !important; }

.w510 {
  width: 510px !important; }

.max-w510 {
  max-width: 510px !important; }

.min-w510 {
  min-width: 510px !important; }

.w530 {
  width: 530px !important; }

.max-w530 {
  max-width: 530px !important; }

.min-w530 {
  min-width: 530px !important; }

.w550 {
  width: 550px !important; }

.max-w550 {
  max-width: 550px !important; }

.min-w550 {
  min-width: 550px !important; }

.w560 {
  width: 560px !important; }

.max-w560 {
  max-width: 560px !important; }

.min-w560 {
  min-width: 560px !important; }

.w580 {
  width: 580px !important; }

.max-w580 {
  max-width: 580px !important; }

.min-w580 {
  min-width: 580px !important; }

.w600 {
  width: 600px !important; }

.max-w600 {
  max-width: 600px !important; }

.min-w600 {
  min-width: 600px !important; }

.w630 {
  width: 630px !important; }

.max-w630 {
  max-width: 630px !important; }

.min-w630 {
  min-width: 630px !important; }

.w640 {
  width: 640px !important; }

.max-w640 {
  max-width: 640px !important; }

.min-w640 {
  min-width: 640px !important; }

.w680 {
  width: 680px !important; }

.max-w680 {
  max-width: 680px !important; }

.min-w680 {
  min-width: 680px !important; }

.w604 {
  width: 604px !important; }

.max-w604 {
  max-width: 604px !important; }

.min-w604 {
  min-width: 604px !important; }

.w700 {
  width: 700px !important; }

.max-w700 {
  max-width: 700px !important; }

.min-w700 {
  min-width: 700px !important; }

.w750 {
  width: 750px !important; }

.max-w750 {
  max-width: 750px !important; }

.min-w750 {
  min-width: 750px !important; }

.w760 {
  width: 760px !important; }

.max-w760 {
  max-width: 760px !important; }

.min-w760 {
  min-width: 760px !important; }

.w800 {
  width: 800px !important; }

.max-w800 {
  max-width: 800px !important; }

.min-w800 {
  min-width: 800px !important; }

.w904 {
  width: 904px !important; }

.max-w904 {
  max-width: 904px !important; }

.min-w904 {
  min-width: 904px !important; }

.w10p {
  width: 10% !important; }

.max-w10p {
  max-width: 10% !important; }

.w17p {
  width: 17% !important; }

.max-w17p {
  max-width: 17% !important; }

.w20p {
  width: 20% !important; }

.max-w20p {
  max-width: 20% !important; }

.w22p {
  width: 22% !important; }

.max-w22p {
  max-width: 22% !important; }

.w26p {
  width: 26% !important; }

.max-w26p {
  max-width: 26% !important; }

.w30p {
  width: 30% !important; }

.max-w30p {
  max-width: 30% !important; }

.w40p {
  width: 40% !important; }

.max-w40p {
  max-width: 40% !important; }

.w50p {
  width: 50% !important; }

.max-w50p {
  max-width: 50% !important; }

.w60p {
  width: 60% !important; }

.max-w60p {
  max-width: 60% !important; }

.w70p {
  width: 70% !important; }

.max-w70p {
  max-width: 70% !important; }

.w80p {
  width: 80% !important; }

.max-w80p {
  max-width: 80% !important; }

.w90p {
  width: 90% !important; }

.max-w90p {
  max-width: 90% !important; }

.w100p {
  width: 100% !important; }

.max-w100p {
  max-width: 100% !important; }

.h10p {
  height: 10% !important; }

.max-h10p {
  max-height: 10% !important; }

.min-h10p {
  min-height: 10% !important; }

.h20p {
  height: 20% !important; }

.max-h20p {
  max-height: 20% !important; }

.min-h20p {
  min-height: 20% !important; }

.h30p {
  height: 30% !important; }

.max-h30p {
  max-height: 30% !important; }

.min-h30p {
  min-height: 30% !important; }

.h40p {
  height: 40% !important; }

.max-h40p {
  max-height: 40% !important; }

.min-h40p {
  min-height: 40% !important; }

.h50p {
  height: 50% !important; }

.max-h50p {
  max-height: 50% !important; }

.min-h50p {
  min-height: 50% !important; }

.h60p {
  height: 60% !important; }

.max-h60p {
  max-height: 60% !important; }

.min-h60p {
  min-height: 60% !important; }

.h70p {
  height: 70% !important; }

.max-h70p {
  max-height: 70% !important; }

.min-h70p {
  min-height: 70% !important; }

.h80p {
  height: 80% !important; }

.max-h80p {
  max-height: 80% !important; }

.min-h80p {
  min-height: 80% !important; }

.h90p {
  height: 90% !important; }

.max-h90p {
  max-height: 90% !important; }

.min-h90p {
  min-height: 90% !important; }

.h100p {
  height: 100% !important; }

.max-h100p {
  max-height: 100% !important; }

.min-h100p {
  min-height: 100% !important; }

.h0 {
  height: 0px !important; }

.min-h0 {
  min-height: 0px !important; }

.h1 {
  height: 1px !important; }

.min-h1 {
  min-height: 1px !important; }

.h5 {
  height: 5px !important; }

.min-h5 {
  min-height: 5px !important; }

.h8 {
  height: 8px !important; }

.min-h8 {
  min-height: 8px !important; }

.h10 {
  height: 10px !important; }

.min-h10 {
  min-height: 10px !important; }

.h14 {
  height: 14px !important; }

.min-h14 {
  min-height: 14px !important; }

.h15 {
  height: 15px !important; }

.min-h15 {
  min-height: 15px !important; }

.h18 {
  height: 18px !important; }

.min-h18 {
  min-height: 18px !important; }

.h19 {
  height: 19px !important; }

.min-h19 {
  min-height: 19px !important; }

.h20 {
  height: 20px !important; }

.min-h20 {
  min-height: 20px !important; }

.h22 {
  height: 22px !important; }

.min-h22 {
  min-height: 22px !important; }

.h24 {
  height: 24px !important; }

.min-h24 {
  min-height: 24px !important; }

.h25 {
  height: 25px !important; }

.min-h25 {
  min-height: 25px !important; }

.h26 {
  height: 26px !important; }

.min-h26 {
  min-height: 26px !important; }

.h28 {
  height: 28px !important; }

.min-h28 {
  min-height: 28px !important; }

.h30 {
  height: 30px !important; }

.min-h30 {
  min-height: 30px !important; }

.h32 {
  height: 32px !important; }

.min-h32 {
  min-height: 32px !important; }

.h34 {
  height: 34px !important; }

.min-h34 {
  min-height: 34px !important; }

.h35 {
  height: 35px !important; }

.min-h35 {
  min-height: 35px !important; }

.h38 {
  height: 38px !important; }

.min-h38 {
  min-height: 38px !important; }

.h40 {
  height: 40px !important; }

.min-h40 {
  min-height: 40px !important; }

.h42 {
  height: 42px !important; }

.min-h42 {
  min-height: 42px !important; }

.h45 {
  height: 45px !important; }

.min-h45 {
  min-height: 45px !important; }

.h50 {
  height: 50px !important; }

.min-h50 {
  min-height: 50px !important; }

.h55 {
  height: 55px !important; }

.min-h55 {
  min-height: 55px !important; }

.h60 {
  height: 60px !important; }

.min-h60 {
  min-height: 60px !important; }

.h64 {
  height: 64px !important; }

.min-h64 {
  min-height: 64px !important; }

.h65 {
  height: 65px !important; }

.min-h65 {
  min-height: 65px !important; }

.h68 {
  height: 68px !important; }

.min-h68 {
  min-height: 68px !important; }

.h70 {
  height: 70px !important; }

.min-h70 {
  min-height: 70px !important; }

.h72 {
  height: 72px !important; }

.min-h72 {
  min-height: 72px !important; }

.h75 {
  height: 75px !important; }

.min-h75 {
  min-height: 75px !important; }

.h80 {
  height: 80px !important; }

.min-h80 {
  min-height: 80px !important; }

.h90 {
  height: 90px !important; }

.min-h90 {
  min-height: 90px !important; }

.h100 {
  height: 100px !important; }

.min-h100 {
  min-height: 100px !important; }

.h115 {
  height: 115px !important; }

.min-h115 {
  min-height: 115px !important; }

.h108 {
  height: 108px !important; }

.min-h108 {
  min-height: 108px !important; }

.h120 {
  height: 120px !important; }

.min-h120 {
  min-height: 120px !important; }

.h130 {
  height: 130px !important; }

.min-h130 {
  min-height: 130px !important; }

.h138 {
  height: 138px !important; }

.min-h138 {
  min-height: 138px !important; }

.h140 {
  height: 140px !important; }

.min-h140 {
  min-height: 140px !important; }

.h146 {
  height: 146px !important; }

.min-h146 {
  min-height: 146px !important; }

.h150 {
  height: 150px !important; }

.min-h150 {
  min-height: 150px !important; }

.h160 {
  height: 160px !important; }

.min-h160 {
  min-height: 160px !important; }

.h170 {
  height: 170px !important; }

.min-h170 {
  min-height: 170px !important; }

.h180 {
  height: 180px !important; }

.min-h180 {
  min-height: 180px !important; }

.h185 {
  height: 185px !important; }

.min-h185 {
  min-height: 185px !important; }

.h200 {
  height: 200px !important; }

.min-h200 {
  min-height: 200px !important; }

.h210 {
  height: 210px !important; }

.min-h210 {
  min-height: 210px !important; }

.h220 {
  height: 220px !important; }

.min-h220 {
  min-height: 220px !important; }

.h230 {
  height: 230px !important; }

.min-h230 {
  min-height: 230px !important; }

.h240 {
  height: 240px !important; }

.min-h240 {
  min-height: 240px !important; }

.h250 {
  height: 250px !important; }

.min-h250 {
  min-height: 250px !important; }

.h260 {
  height: 260px !important; }

.min-h260 {
  min-height: 260px !important; }

.h270 {
  height: 270px !important; }

.min-h270 {
  min-height: 270px !important; }

.h290 {
  height: 290px !important; }

.min-h290 {
  min-height: 290px !important; }

.h320 {
  height: 320px !important; }

.min-h320 {
  min-height: 320px !important; }

.h325 {
  height: 325px !important; }

.min-h325 {
  min-height: 325px !important; }

.h340 {
  height: 340px !important; }

.min-h340 {
  min-height: 340px !important; }

.h350 {
  height: 350px !important; }

.min-h350 {
  min-height: 350px !important; }

.h360 {
  height: 360px !important; }

.min-h360 {
  min-height: 360px !important; }

.h390 {
  height: 390px !important; }

.min-h390 {
  min-height: 390px !important; }

.h400 {
  height: 400px !important; }

.min-h400 {
  min-height: 400px !important; }

.h420 {
  height: 420px !important; }

.min-h420 {
  min-height: 420px !important; }

.h430 {
  height: 430px !important; }

.min-h430 {
  min-height: 430px !important; }

.h455 {
  height: 455px !important; }

.min-h455 {
  min-height: 455px !important; }

.h460 {
  height: 460px !important; }

.min-h460 {
  min-height: 460px !important; }

.h500 {
  height: 500px !important; }

.min-h500 {
  min-height: 500px !important; }

.h600 {
  height: 600px !important; }

.min-h600 {
  min-height: 600px !important; }

.h603 {
  height: 603px !important; }

.min-h603 {
  min-height: 603px !important; }

.h650 {
  height: 650px !important; }

.min-h650 {
  min-height: 650px !important; }

.h700 {
  height: 700px !important; }

.min-h700 {
  min-height: 700px !important; }

.h800 {
  height: 800px !important; }

.min-h800 {
  min-height: 800px !important; }

.p0 {
  padding: 0px; }

.p1 {
  padding: 1px; }

.p2 {
  padding: 2px; }

.p3 {
  padding: 3px; }

.p4 {
  padding: 4px; }

.p5 {
  padding: 5px; }

.p8 {
  padding: 8px; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p18 {
  padding: 18px; }

.p20 {
  padding: 20px; }

.p22 {
  padding: 22px; }

.p24 {
  padding: 24px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p40 {
  padding: 40px; }

.pt0 {
  padding-top: 0px; }

.pt4 {
  padding-top: 4px; }

.pt5 {
  padding-top: 5px; }

.pt6 {
  padding-top: 6px; }

.pt10 {
  padding-top: 10px; }

.pt12 {
  padding-top: 12px; }

.pt14 {
  padding-top: 14px; }

.pt16 {
  padding-top: 16px; }

.pt18 {
  padding-top: 18px; }

.pt20 {
  padding-top: 20px; }

.pt22 {
  padding-top: 22px; }

.pt24 {
  padding-top: 24px; }

.pt26 {
  padding-top: 26px; }

.pt30 {
  padding-top: 30px; }

.pt32 {
  padding-top: 32px; }

.pt33 {
  padding-top: 33px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pt42 {
  padding-top: 42px; }

.pt46 {
  padding-top: 46px; }

.pt50 {
  padding-top: 50px; }

.pt70 {
  padding-top: 70px; }

.pt80 {
  padding-top: 80px; }

.pt100 {
  padding-top: 100px; }

.pt200 {
  padding-top: 200px; }

.pr0 {
  padding-right: 0px; }

.pr2 {
  padding-right: 2px; }

.pr3 {
  padding-right: 3px; }

.pr5 {
  padding-right: 5px; }

.pr6 {
  padding-right: 6px; }

.pr7 {
  padding-right: 7px; }

.pr10 {
  padding-right: 10px; }

.pr12 {
  padding-right: 12px; }

.pr14 {
  padding-right: 14px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr24 {
  padding-right: 24px; }

.pr26 {
  padding-right: 26px; }

.pr30 {
  padding-right: 30px; }

.pr35 {
  padding-right: 35px; }

.pr40 {
  padding-right: 40px; }

.pr45 {
  padding-right: 45px; }

.pr50 {
  padding-right: 50px; }

.pr68 {
  padding-right: 68px; }

.pr120 {
  padding-right: 120px; }

.pr200 {
  padding-right: 200px; }

.pb0 {
  padding-bottom: 0px; }

.pb3 {
  padding-bottom: 3px; }

.pb4 {
  padding-bottom: 4px; }

.pb5 {
  padding-bottom: 5px; }

.pb6 {
  padding-bottom: 6px; }

.pb10 {
  padding-bottom: 10px; }

.pb12 {
  padding-bottom: 12px; }

.pb14 {
  padding-bottom: 14px; }

.pb16 {
  padding-bottom: 16px; }

.pb20 {
  padding-bottom: 20px; }

.pb24 {
  padding-bottom: 24px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb32 {
  padding-bottom: 32px; }

.pb33 {
  padding-bottom: 33px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.pb42 {
  padding-bottom: 42px; }

.pb48 {
  padding-bottom: 48px; }

.pb50 {
  padding-bottom: 50px; }

.pb60 {
  padding-bottom: 60px; }

.pb75 {
  padding-bottom: 75px; }

.pb90 {
  padding-bottom: 90px; }

.pb110 {
  padding-bottom: 110px; }

.pb120 {
  padding-bottom: 120px; }

.pb130 {
  padding-bottom: 130px; }

.pb140 {
  padding-bottom: 140px; }

.pb160 {
  padding-bottom: 160px; }

.pl0 {
  padding-left: 0px; }

.pl3 {
  padding-left: 3px; }

.pl5 {
  padding-left: 5px; }

.pl6 {
  padding-left: 6px; }

.pl7 {
  padding-left: 7px; }

.pl8 {
  padding-left: 8px; }

.pl10 {
  padding-left: 10px; }

.pl12 {
  padding-left: 12px; }

.pl13 {
  padding-left: 13px; }

.pl14 {
  padding-left: 14px; }

.pl15 {
  padding-left: 15px; }

.pl16 {
  padding-left: 16px; }

.pl20 {
  padding-left: 20px; }

.pl24 {
  padding-left: 24px; }

.pl25 {
  padding-left: 25px; }

.pl26 {
  padding-left: 26px; }

.pl30 {
  padding-left: 30px; }

.pl40 {
  padding-left: 40px; }

.pl45 {
  padding-left: 45px; }

.pl48 {
  padding-left: 48px; }

.pl60 {
  padding-left: 60px; }

.pl70 {
  padding-left: 70px; }

.pl100 {
  padding-left: 100px; }

.pl120 {
  padding-left: 120px; }

.pl150 {
  padding-left: 150px; }

.pl190 {
  padding-left: 190px; }

.m0 {
  margin: 0px !important; }

.m1 {
  margin: 1px !important; }

.m2 {
  margin: 2px !important; }

.m4 {
  margin: 4px !important; }

.m10 {
  margin: 10px !important; }

.m15 {
  margin: 15px !important; }

.m20 {
  margin: 20px !important; }

.m25 {
  margin: 25px !important; }

.mt-10 {
  margin-top: -10px !important; }

.mt-8 {
  margin-top: -8px !important; }

.mt-5 {
  margin-top: -5px !important; }

.mt-1 {
  margin-top: -1px !important; }

.mt0 {
  margin-top: 0px !important; }

.mt2 {
  margin-top: 2px !important; }

.mt4 {
  margin-top: 4px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt6 {
  margin-top: 6px !important; }

.mt7 {
  margin-top: 7px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt16 {
  margin-top: 16px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt46 {
  margin-top: 46px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt56 {
  margin-top: 56px !important; }

.mt58 {
  margin-top: 58px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt80 {
  margin-top: 80px !important; }

.mt100 {
  margin-top: 100px !important; }

.mt180 {
  margin-top: 180px !important; }

.mt200 {
  margin-top: 200px !important; }

.mt220 {
  margin-top: 220px !important; }

.mt270 {
  margin-top: 270px !important; }

.mr0 {
  margin-right: 0px !important; }

.mr3 {
  margin-right: 3px !important; }

.mr5 {
  margin-right: 5px !important; }

.mr8 {
  margin-right: 8px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr24 {
  margin-right: 24px !important; }

.mr25 {
  margin-right: 25px !important; }

.mr30 {
  margin-right: 30px !important; }

.mr40 {
  margin-right: 40px !important; }

.mr50 {
  margin-right: 50px !important; }

.mr60 {
  margin-right: 60px !important; }

.mr70 {
  margin-right: 70px !important; }

.mr76 {
  margin-right: 76px !important; }

.mr80 {
  margin-right: 80px !important; }

.mr90 {
  margin-right: 90px !important; }

.mr100 {
  margin-right: 100px !important; }

.mr110 {
  margin-right: 110px !important; }

.mr184 {
  margin-right: 184px !important; }

.mb-10 {
  margin-bottom: -10px !important; }

.mb-8 {
  margin-bottom: -8px !important; }

.mb-5 {
  margin-bottom: -5px !important; }

.mb-1 {
  margin-bottom: -1px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb3 {
  margin-bottom: 3px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb8 {
  margin-bottom: 8px !important; }

.mb9 {
  margin-bottom: 9px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb16 {
  margin-bottom: 16px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb22 {
  margin-bottom: 22px !important; }

.mb24 {
  margin-bottom: 24px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb47 {
  margin-bottom: 47px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb56 {
  margin-bottom: 56px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb67 {
  margin-bottom: 67px !important; }

.mb85 {
  margin-bottom: 85px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb110 {
  margin-bottom: 110px !important; }

.mb130 {
  margin-bottom: 130px !important; }

.ml-10 {
  margin-left: -10px !important; }

.ml-5 {
  margin-left: -5px !important; }

.ml0 {
  margin-left: 0px !important; }

.ml3 {
  margin-left: 3px !important; }

.ml5 {
  margin-left: 5px !important; }

.ml8 {
  margin-left: 8px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml13 {
  margin-left: 13px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml18 {
  margin-left: 18px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml24 {
  margin-left: 24px !important; }

.ml25 {
  margin-left: 25px !important; }

.ml27 {
  margin-left: 27px !important; }

.ml30 {
  margin-left: 30px !important; }

.ml35 {
  margin-left: 35px !important; }

.ml40 {
  margin-left: 40px !important; }

.ml50 {
  margin-left: 50px !important; }

.ml60 {
  margin-left: 60px !important; }

.ml70 {
  margin-left: 70px !important; }

.ml80 {
  margin-left: 80px !important; }

.ml76 {
  margin-left: 76px !important; }

.ml95 {
  margin-left: 95px !important; }

.ml100 {
  margin-left: 100px !important; }

.ml120 {
  margin-left: 120px !important; }

.opa10 {
  opacity: 0.1; }

.opa20 {
  opacity: 0.2; }

.opa30 {
  opacity: 0.3; }

.opa40 {
  opacity: 0.4; }

.opa50 {
  opacity: 0.5; }

.opa60 {
  opacity: 0.6; }

.opa70 {
  opacity: 0.7; }

.opa80 {
  opacity: 0.8; }

.opa90 {
  opacity: 0.9; }

.opa100 {
  opacity: 1; }

.cup {
  cursor: pointer; }

.vis-hide {
  visibility: hidden; }

.margin-auto {
  margin: 0 auto; }
